{% extends 'base.html' %}

{% block content %}

  {% block content_header %}
    <h2>Job Seeker Information</h2>
    <p>
      <a href="{% url 'upload_book' %}" class="btn btn-primary">Apply For New Post</a>
    </p>
  {% endblock %}
<div class="table-responsive">
  <table class="table mb-0">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Subject</th>
        <th>skillset</th>
        <th>coverletter</th>
        <th>Resume</th>
   
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          <td>
            {% if book.cover %}
              <img src="{{ book.cover.url }}" alt="{{ book.name }}" style="width:80px; height:100px;">
            {% else %}
              <span class="text-muted">No cover</span>
            {% endif %}
          </td>
          <td>{{ book.name }}</td>
          <td>{{ book.email }}</td>
          <td>{{ book.subject }}</td>
          <td>{{ book.skillset }}</td>
          <td>{{ book.coverletter }}</td>
        
          <td>
            <a href="{{ book.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">{{book.name}} Resume</a>
          </td>
          <td>
            
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}
